.topp { width: 85%; margin: auto; }

.headcontact { padding: 3% 5%; display: flex; flex-direction: column; text-align: center; justify-content: center; margin-bottom: 100px; padding: 70px; }

.padd-bott { padding-bottom:100px; }

.marr-topp { margin-top: -150px; }

.a:hover { color: #2c31cf; }

.aimg { margin-top:-70px; width: 100%; box-shadow: 1px 1px 1px 1px gray; }