.headlearn { padding: 3% 5%; display: flex; flex-direction: column; text-align: left; justify-content: center; margin-bottom: 30px; padding: 30px; }
.aaa { margin-top:40px; }
.bbb {margin-top:42px; margin-left:-48px; }
.a-black a { color:#2c31cf; }
.bbb:hover{ color:red; }

.topp { width: 85%; margin: auto; }

#tieudelearn { padding-top: 20px; color : #2c31cf; margin-left: 16px; }
#tieudelearn:hover { text-decoration: underline; }
#topx { margin-top: 0px; }

.toplearn { width: 22%; float: left; margin: 16px; background-color: white; }
.toplearn img { width: 100%; height: 150px; }
.toplearn:hover { box-shadow:5px 5px 5px  gray; }
.toplearn img:hover { transition: 0.5s; image-rendering: pixelated; }
.toplearn h5:hover { cursor: pointer; color : #2c31cf; }
.toplearn h5 { padding: 0px 5px; }
.toplearn p { padding: 0px 5px; color: gray; }

.padd-bott{ padding-bottom:30px;}

.topp a{ text-decoration: none; color: black; }