.backhome { margin: 10px 0px; }
.backhome a:hover { color: #2c31cf; }

* { box-sizing: border-box; }
body { background: #EEEEEE; display: flex; justify-content: center; align-items: center;
    flex-direction: column; height: 100vh; margin: -20px 0 50px; }
h2 { font-weight: bold; margin: 0; }
p { font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px; }
span { font-size: 12px; }
a { color: #333; font-size: 14px; text-decoration: none; margin: 15px 0;
}


button { border-radius: 20px; border: 1px solid #FF4B2B; font-size: 12px; font-weight: bold;
		padding: 12px 45px; letter-spacing: 1px; transition: transform 80ms ease-in; }
button:active { transform: scale(0.95); }
button:focus { outline: none; }


form { background-color: #FFFFFF; display: flex; align-items: center; justify-content: center;
    flex-direction: column; padding: 0 50px; height: 100%; text-align: center; }
input { background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%; }

.container { background-color: #fff; border-radius: 10px; box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			position: relative; overflow: hidden; width: 768px; max-width: 100%; min-height: 480px;}
			
.btn-outline-purple { color: purple; border-color: purple; } /* cover Bootstrap - nút màu tím */

.btn-outline-purple:hover { background-color: purple; }

.text-x { color: #2c31cf; }

.text-whi { color: white; }

.text-bla { color: black; }

.btn-outline-x { color: #2c31cf; border-color: #2c31cf; } /* cover Bootstrap - nút màu xanh */

.btn-outline-x:hover { color:white; background-color:#2c31cf; border-color:#2c31cf; }

.form-container { position: absolute; top: 0; height: 100%; transition: all 0.6s ease-in-out; }

.sign-in-container { left: 0; width: 50%; z-index: 2; }

.container.right-panel-active .sign-in-container { transform: translateX(100%); }

.sign-up-container { left: 0; width: 50%; opacity: 0; z-index: 1; }

.container.right-panel-active .sign-up-container { transform: translateX(100%); opacity: 1; z-index: 5; animation: show 0.6s; }



.overlay-container { position: absolute; top: 0; left: 50%; width: 50%; height: 100%; overflow: hidden; transition: transform 0.6s ease-in-out; z-index: 100; }

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay { background: #FF416C; background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
			background: linear-gradient(to right, #FF4B2B, #FF416C); /* trộn màu gradient */
    background-repeat: no-repeat; background-size: cover; background-position: 0 0;
    color: #FFFFFF; position: relative; left: -100%; height: 100%; width: 200%;
    transform: translateX(0); transition: transform 0.6s ease-in-out; }

.container.right-panel-active .overlay { transform: translateX(50%); }

.overlay-panel { position: absolute; display: flex; align-items: center; justify-content: center; flex-direction: column;  padding: 0 40px; text-align: center;
    top: 0; height: 100%; width: 50%; transform: translateX(0); transition: transform 0.6s ease-in-out; }

.overlay-left { transform: translateX(-20%); }

.container.right-panel-active .overlay-left { transform: translateX(0); }

.overlay-right { right: 0; transform: translateX(0); }

.container.right-panel-active .overlay-right { transform: translateX(20%); }

.social-container { margin: 20px 0; }

.social-container a { border: 1px solid #DDDDDD; border-radius: 50%; display: inline-flex; justify-content: center;
    align-items: center; margin: 0 5px; height: 40px; width: 40px; }
	
	
@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@media screen and (max-width: 640px) {

	[class*="col-sm-"] {
		width: 100%;
	}
	
	h2 {
		font-size:20px;
	}

	.btn {
		font-size:10px;
	}

	.social-container a { 
		margin: 0 0px; 
		border-radius:50%;
		height: 20px; width: 20px; 
	}
	.dangnhap {
		padding:8%;
		padding-right:22%;
	}
	
	.overlay-container { 
		left: 60%; 
		width: 40%; 
	}

	.container.right-panel-active .overlay-container {
		transform: translateX(-150%);
	}
	.sign-in-container { 
		width: 70%; 
	}
	
	.dangky {
		padding:0px;
		padding-right:16%;
		margin: -8%;
	}

	.sign-up-container { 
		width: 50%;
	}
	.btn-outline-x {
		padding:8px;
		size:40px;
	}
	.overlay-panel {
		padding:10px;
	}
	

}

@media screen and (max-width: 758px) and (min-width: 641px {
	
}

@media screen and (max-width: 1024px) and (min-width: 769px {
	
}