/* Khóa học */

.top1 { width: 30%; float: left; margin: 10px; background-color: white; }

.top1 img { width: 100%; height: 150px; }

.top1:hover { box-shadow:5px 5px 5px  gray; }

.top1 img:hover { transition: 0.5s; image-rendering: pixelated; }

.top1 h5:hover { cursor: pointer; color : #2c31cf; }

.top1 h5 { padding: 0px 5px; }

.top1 p { padding: 0px 5px; color: gray; }

h3 a{color:#2c31cf;}

@media screen and (max-width: 474px) { 
	.top1 {
		width:100%;
		margin-left:-6%;
	}
}
@media screen and (max-width: 1024px) and (min-width: 475px) {
	.top1 {
		width:45%;
	}
}