.topp { width: 85%; margin: auto; }

.head { padding: 3% 5%; display: flex; flex-direction: column; text-align: center; 
	justify-content: center; margin-bottom: 100px; padding: 150px;}
	
.padd-bott1 { padding-bottom:90px; }

.padd-bott2 { padding-bottom:60px; }

.padd-bott3 { padding-bottom:100px; }

.marr-top { margin-top: -230px; }

.text-gr { color: #a5adba; }

.topp h2{ margin: 0px 0px 15px 20px }

.topp p{ margin: 15px 20px 15px 20px }

.topp .col-sm-6 .abc { margin-left: 20px;}

.topp2 { box-shadow: 3px 3px 3px gray}

.numb1 span { border: 1px solid #dc3545; border-radius: 50%; display: inline-flex; justify-content: center;
    align-items: center; margin: 0 5px; height: 40px; width: 40px; }

.numb2 span { border: 1px solid #2c31cf; border-radius: 50%; display: inline-flex; justify-content: center;
    align-items: center; margin: 0 5px; height: 40px; width: 40px; }

.numb1 span:hover { color:white; background-color:#dc3545; border-color:#dc3545; }

.numb2 span:hover { color:white; background-color:#2c31cf; border-color:#2c31cf; }